.column {
    margin-right: 5px;
    font-weight: bold;
}

#log-container:before {
    content: ""
}

.log-line.log-line-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.logline-found {
    border-bottom: 1px solid black;
    font-weight: bold;
}