.column {
    font-weight: bold;
    font-size: 12px;
}

.logline {
    font-size: 12px;
}

#log-container:before {
    content: ""
}

.log-row {
    /*font-size: 0;*/
}

.log-row.log-row-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.logline-found {
    background-color: #e0f2ff;
}